h1{
    text-align: center;
}

h2{
    text-align: center;
    color:black
}

p{
    text-align: left;
    color: blue;
}

.text-right{
    text-align: right;
}

h3{
    color: red;
    text-align: center;
}

.room{
    border-left: 4px solid;
}